@import url("../fonts/Stolzl/stylesheet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* added */
    --accent: 235, 81%, 62%;
    --accent-foreground: 236, 83%, 70%;
    --muted: 0, 0%, 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --secondary: 158, 100%, 67%;
    --secondary-foreground: 158, 100%, 67%, 0.3;
    --secondary-dark: 158, 67%, 43%;

    --default: 254, 93%, 5%;

    /* box-shadow: 0px 20px 60px 0px #497bffb2 inset;

    backdrop-filter: blur(40px);

    box-shadow: 0px 20px 80px 0px #3f4aaf80; */

    --gradient: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) -40.91%,
      #402788 132.95%
    );
    --gradient-foreground: linear-gradient(
      180deg,
      rgba(7, 7, 7, 0) -40.91%,
      #593ab6 132.95%
    );
    --gradient-border: linear-gradient(
        180deg,
        rgba(39, 55, 207, 0.4) 17.19%,
        rgba(101, 98, 251, 0.77) 100%
      ),
      linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
      linear-gradient(
        180deg,
        rgba(39, 55, 207, 0) -4.69%,
        rgba(189, 252, 254, 0.3) 100%
      );

    /*used*/
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --radius: 0.5rem;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-stolzl;
  }
}
