@import url("./fonts/satoshi/satoshi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#d1d1d1] dark:bg-[#010103];
  border-radius: 4px;
}

@layer base {
  body {
    @apply bg-white-300 dark:bg-dark-400 font-satoshi;
  }
}
